<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisor Allotment Report</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS for adding margin and padding */
        .table-container {
            margin: 20px; /* Adjust margin as needed */
            padding: 20px; /* Adjust padding as needed */
        }
    </style>
</head>
<body style="background-color:#fff8e1;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/back">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
     
    </button>
    </div>
    
    </nav>
<div class="container text-center">
	<h1>Supervisor Allotment Report</h1>
</div>
  <iframe src="https://drive.google.com/file/d/1Idsbu_VYQOKeqqKnZh-739kYp5GYZ7uA/preview" style="margin-left:350px " width="840" height="680" allow="autoplay"></iframe>
 <div class="text-center" style="margin-bottom: 50px">
    <a class="btn btn-primary btn-lg" href="/download/pdf">Download Report</a>
</div>

 
 
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
